<h1>Show the Artist</h1>

<br>
<%= @artist.id %> |
<%= @artist.name %>
<br>

<% @artist.songs.each do |song| %>
<ul>
  <li>
    <a href="/songs/<%= song.slug %>">
    <%= song.id %> |
    <%= song.name %> |
    </a>
    <a href="/songs/<%= song.slug %>/edit">Edit</a>


  </li>
  <ul>
    <li><% song.genres.each do |genre| %>
      <a href="/genres/<%= genre.slug %>">
       <%= genre.name %>
     </a>
     <% end %>
   </li>
  </ul>
</ul>

<% end %>
